[Info] 
Name=Solarized Colors
Description=Solarized Color Theme
Credits=Solarized
Version=1.0.0

[Common]
DefaultButtonAlpha = 180
ButtonStyle = Glossy

[Colors]
Base03 = 0, 43, 54
Base02 = 7, 54, 66
Base01 = 88, 110, 117

// 2 content colors
Base00 = 101, 123, 131
Base0 = 131, 148, 150

// 3 light back- or foreground colors
Base1 = 147, 161, 161
Base2 = 238, 232, 213
Base3 = 253, 246, 227

// pure colors
Yellow = 181, 137, 0
Orange = 203, 75, 22
Red = 220, 50, 47
Magenta = 211, 54, 130
Violet = 108, 113, 196
Blue = 38, 139, 210
Cyan = 42, 161, 152
Green = 133, 153, 0

; some more colors used through the application
White = 255, 255, 255
Black = 0, 0, 0
Silver = 206, 212, 223

GrayButton = 206, 212, 223
LightGrayButton = 237, 239, 243

HighLightButton = 255, 236, 181
LightHighLightButton = 255, 250, 237
HighLightButtonBorder = 229, 195, 101

HighLightYellow = 241, 243, 248
HighLightBlue = 50, 150, 250
HighLightBlueTransparent = 100, 50, 150, 250

