<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap dll="tinyfiledialogs32.dll" os="linux" target="tinyfiledialogs32.dll" />
	<dllmap dll="tinyfiledialogs32.dll" os="osx" target="tinyfiledialogs32.dll" />
	<dllmap dll="tinyfiledialogs32.dll" os="freebsd" target="tinyfiledialogs32.dll" />
	<dllmap dll="tinyfiledialogs32.dll" os="windows" target="tinyfiledialogs32.dll" />
</configuration>
